/*
  The following rule sets the
  size of the player
*/
.video-js {
  width: 640px;
  height: 360px;}
/*****************************/
/*****************************/
/*
  The following TWO rules set
  the location and size of
  the big play button
*/
/*
  This rule sets the color,
   opacity, size and position of the
   big play button
*/

.video-js.vjs-mouse .vjs-big-play-button {
  background-color: rgba(247, 126, 50, 0.5);
  width: 150px;
  height: 100px;
  border-radius: 10%;
  border-style: solid;
  border-width: 4px;
  border-color: #FFFFFF;
  margin-left: -9%;
}
/*
  This rule sets the location and size
  of the triangular play icon in the
  big play button
*/
.video-js.vjs-mouse .vjs-big-play-button:before {
  font-size: 1.5em;
  color: white;
  opacity: .9;
  margin-top: -2.5%;
  margin-left: -2.5%
}

.video-js .vjs-play-progress.vjs-slider-bar {
   background-color: #409ca9;
}

.video-js .vjs-control-bar {
  background-color: rgba(247, 126, 50, 0.5);
}

.video-js .vjs-dock-text {
  background: linear-gradient(-90deg, rgba(247,126,50,.8) 70%, transparent);
  height: 20%;
}
